@model Post
<blockquote>
    <h1><a asp-controller="Home" asp-action="Post" asp-route-id="@Model.Id">@Model.Title</a></h1>
    @Html.Raw(CommonMark.CommonMarkConverter.Convert(Model.Content))
    <footer>@Model.DateCreated.ToString("dd.MM.yyyy HH:mm")</footer>
</blockquote>